<div class="center jumbotron">
    <div class="text-center">
        <h1>Make your own Taskilist.</h1>
        <h1>It makes your life easier.</h1>
        <%= link_to "Sign up and use soon!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
</div>


<h1>タスク一覧</h1>

<ul>
    <% @tasks.each do|task| %>
        <li><%= link_to task.id, task %> : <%= task.content %> &gt; <%= task.status %> </li> 
    <% end %>
</ul>

<%= link_to "新規タスク作成", new_task_path %>