<% if logged_in? %>
    <div class="text-center">
        <h1>タスク一覧</h1>
    </div>
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center">id</th>
                    <th class="text-center">タスク</th>
                    <th class="text-center">ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @tasks.each do|task| %>
                    <tr>
                        <td><%= link_to task.id, task %></td>
                        <td><%= task.content %></td>
                        <td><%= task.status %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to "新規タスク作成", new_task_path %>
    </div>
    
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Make your own Taskilist.</h1>
            <h1>It makes your life easier.</h1>
            <%= link_to "Sign up and use soon!", signup_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>
<% end %>