<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

タスク: <p><%= @task.content %></p>
ステータス: <p><%= @task.status %></p>

<%= link_to "一覧に戻る", tasks_path %>
<%= link_to "このタスクを編集", edit_task_path(@task) %>
<%= link_to "このタスクを削除", @task, method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %>
